.navbar {

    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

}

.logo {
    position: absolute;
    top: 5%;
    left: 41%;
    width: 350px;
}